@charset "utf-8";
/* CSS Document */
p{
	color: darkolivegreen;
	font-size: 18px;
	line-height: 20px;
	width: 300;
	background-color: beige;
	padding: 20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
.paragraf_2 {color: #4E6637; background-color: rgba(113, 185, 140, 0.5)}
h1{
	font-size: 60px;
	color: #619886;;
	font-family: AnaVukic
}
h2{
	font-size: 40px;
	color: darkcyan;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
h3{
	font-size: 20px;
	color: cadetblue;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
.pozadina{
	background-image: url("pozadina.jpg");
	background-color: #8D7657;
}
.trecapozadina{
	background-color: wheat;
}
a:link{
	color: #7EB6A2;
	background-color: #BFD9E8;
	padding: 5px;
	line-height: 40px;
	border: 2px solid #EEE8B5;
}

.nav{
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}
.drugapozadina{
	background-color: wheat;
}
a:hover{
	background-color: darkgray;
}
img{
	height: 400px;
}
.mojvideo{
	width: 400px;
	height: auto;
}