@charset "utf-8";
/* CSS Document */
p{
	color: cornflowerblue;
	font-size: 14px;
	line-height: 16px;
	width: 500;
	background-color: beige;
	padding: 20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
.paragraf_2 {color: darkcyan; background-color: rgba(255, 255, 255, 0.5)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.9);
	padding:20px;
	margin: 20px;
	width: 50%;
}
h1, h2{
	color: blue;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

span {color: rgba(213,36,218,1.00);}
.pozadina{
	background-image: url("slike/pozadina.jpg");
	background-color: darkcyan;
}
.drugapozadina{
	background-color: antiquewhite;
}
a:link{
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}

a:hover{
	background-color: darkgray;
}

img{
	height: 400px;
}